.miningField {
	width: 100%;
	height: 100%;
	display: flex;
	background-image: url('images/fleet.jpg');
	z-index: 1;
}

	.miningField > .battleField {
		width: 80%;
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: center;
		align-items: center;
		font-size: 1vmax;
	}	

		.miningField > .battleField > .locationName {
			display: flex;
			margin: 0;
			width: 40%;
			height: 40px;
			justify-content: center;
			align-items: center;
			color: white;
		}
		.miningField > .battleField > .localStatus {
			color: green;
		}

		.miningField > .battleField > .mainField {
			height: 73%;
			width: 100%;
			position: relative;
		}
			.smallAsteroid1, .smallAsteroid2, .smallAsteroid3, .mediumAsteroid1,
			.mediumAsteroid2, .bigAsteroid1, .playersShip {
				position: absolute;
				cursor: pointer;
				background-image: url('images/asteroid.png'); 
			}

			.miningField > .battleField > .mainField > .playersShip {
				background-image: url('images/i/wasp.png'); 
				width: 115px;
				height: 115px;
				left: 46%;
				top: 46%;
			}
			.miningField > .battleField > .mainField > .smallAsteroid1, .smallAsteroid2, 
			.smallAsteroid3 {
				width: 50px;
				height: 50px;				
			}
			.miningField > .battleField > .mainField > .smallAsteroid1 {
				left: 26%;
				top: 5%;
			}
			.miningField > .battleField > .mainField > .smallAsteroid2 {
				left: 35%;
				top: 10%;
			}
			.miningField > .battleField > .mainField > .smallAsteroid3 {
				left: 50%;
				top: 15%;
			}
			.miningField > .battleField > .mainField > .mediumAsteroid1, .mediumAsteroid2 {
				width: 75px;
				height: 75px;				
			} 
			.miningField > .battleField > .mainField > .mediumAsteroid1 {
				left: 65%;
				top: 3%;
			}
			.miningField > .battleField > .mainField > .mediumAsteroid2 {
				left: 85%;
				top: 70%;
			}
			.miningField > .battleField > .mainField > .bigAsteroid1 {
				width: 100px;
				height: 100px;
				left: 14%;
				top: 42%;
			}
				.hpBorder, .shieldBorder, .armorBorder {
					position: absolute;
					top: 104%;
					left: calc(50% - 42px);
					display: block;
					width: 78px;
					height: 14px;
					text-align: center;
					border: 2px solid black;
					background-color: white;
				}
					.hpBorder .hpBar, .shieldBorder .shieldBar, .armorBorder .armorBar {
						position: absolute;
						left: 0;
						top: 0;
						width: 100%;
						height: 100%;
						background-color: red;
					}
						.playersShip .hpBar {
							width: 20%;
						} 
						.playersShip .shieldBar {
							width: 15%;
						}
						.playersShip .armorBar {
							width: 30%;
						}
					.hpBorder .HP, .shieldBorder .shield, .armorBorder .armor {
						position: absolute;
						left: 0;
						top: 0;
						width: 100%;
						height: 100%;
						z-index: 2;
						font-size: 13px;
						text-align: center;
					}
						.smallAsteroid1 .hpBar {
							width: 80%;
						}
						.smallAsteroid2 .hpBar {
							width: 40%;
						}
						.smallAsteroid3 .hpBar {
							width: 30%;
						}
						.mediumAsteroid1 .hpBar {
							width: 35%;
						} 
						.mediumAsteroid2 .hpBar {
							width: 20%;
						}
						.bigAsteroid1 .hpBar {
							width: 55%;
						}
					.shieldBorder {
						top: 121%;
					}
						.shieldBorder > .shieldBar {
							background-color: blue;
						}
							.shieldBorder > .shield {
								color: white;
							}
					.armorBorder {
						top: 137%;
					}
						.armorBorder > .armorBar {
							background-color: grey;
						}
							.armorBorder > .armor {
								color: white;
							}
		.miningField > .battleField > .hold {
			display: flex;
			flex-direction: column;
			width: 100%;
			height: 65px;
			justify-content: center;
			align-items: center;
		}
		.miningField > .battleField > .hold > .holdText {
			color: white;
		}
			.miningField > .battleField > .hold > .holdBorder {
				height: 40px;
				width: 80%;
				position: relative;
				background-color: grey;
			}
				.miningField > .battleField > .hold > .holdBorder > .holdStatus {
					display: flex;
					justify-content: center;
					align-content: center;
					position: absolute;
					top: 20%;
					left: 46%;
				}
				.miningField > .battleField > .hold > .holdBorder > .holdBar {
					height: 100%;
					width: 45%;
					background-color: wheat;
				}
