.miningField {
	width: 100%;
	height: 100%;
	display: flex;
	background-image: url('/images/fleet.jpg');
	z-index: 1;
}

	.miningField > .battleField {
		width: 80%;
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: center;
		align-items: center;
		font-size: 1vmax;
	}	

		.miningField > .battleField > .locationName {
			display: flex;
			margin: 0;
			width: 40%;
			height: 40px;
			justify-content: center;
			align-items: center;
			color: white;
		}
		.miningField > .battleField > .arrowblock {
			display: flex;
			color: white;
			cursor: pointer;
		}
			.arrowblock a {
				color: white;
				text-decoration: none;
			}
		.miningField > .battleField > .localStatus {
			color: green;
		}

		.miningField > .battleField > .mainField {
			height: 73%;
			width: 100%;
			position: relative;
		}
			.smallAsteroid1, .shipBorder, .playersShip {
				position: absolute;
				cursor: pointer;
				background-image: url('/images/asteroid.png'); 
			}

			.miningField > .battleField > .mainField > .shipBorder {
				width: 150px;
				height: 200px;
				position: absolute;
				left: 45%;
				top: 45%;
				display: flex;
				justify-content: center;
				padding-top: 13px;
			}
			.miningField > .battleField > .mainField > .shipBorder > .playersShip {
				width: 115px;
				height: 115px;
				background-image: url('/images/i/wasp.png');
			}
			.miningField > .battleField > .mainField > .shipBorder > .playersShip.wasp {
				background-image: url('/images/i/wasp.png');
			}
			.miningField > .battleField > .mainField > .shipBorder > .playersShip.truck {
				background-image: url('/images/i/truck.png'); 
			}
			.miningField > .battleField > .mainField > .smallAsteroid1 {
				width: 50px;
				height: 50px;
			}
				.hpBorder, .shieldBorder, .armorBorder, .chargeBorder {
					position: absolute;
					top: 104%;
					left: calc(50% - 42px);
					display: block;
					width: 78px;
					height: 14px;
					text-align: center;
					border: 2px solid black;
					background-color: white;
				}
					.hpBorder .hpBar, .shieldBorder .shieldBar, .armorBorder .armorBar, .chargeBorder .chargeBar {
						position: absolute;
						left: 0;
						top: 0;
						width: 100%;
						height: 100%;
						background-color: red;
					}
						.shipBorder .hpBar {
							width: 20%;
						} 
						.shipBorder .shieldBar {
							width: 15%;
						}
						.shipBorder .armorBar {
							width: 30%;
						}
						.shipBorder .chargeBar {
							width: 0%;
						}
					.hpBorder .HP, .shieldBorder .shield, .armorBorder .armor, .chargeBorder .charge {
						position: absolute;
						left: 0;
						top: 0;
						width: 100%;
						height: 100%;
						z-index: 2;
						font-size: 13px;
						text-align: center;
					}
						.smallAsteroid1 .hpBar {
							width: 100%;
						}
					.shieldBorder {
						top: 121%;
					}
						.shieldBorder > .shieldBar {
							background-color: blue;
						}
					.armorBorder {
						top: 137%;
					}
						.armorBorder > .armorBar {
							background-color: grey;
						}
					.chargeBorder {
						top: 154%;
					}



		.miningField > .battleField > .hold {
			display: flex;
			flex-direction: column;
			width: 100%;
			height: 65px;
			justify-content: center;
			align-items: center;
		}
		.miningField > .battleField > .hold > .holdText {
			color: white;
		}
			.miningField > .battleField > .hold > .holdBorder {
				height: 40px;
				width: 80%;
				position: relative;
				background-color: grey;
			}
				.miningField > .battleField > .hold > .holdBorder > .holdStatus {
					display: flex;
					justify-content: center;
					align-content: center;
					position: absolute;
					top: 20%;
					left: 46%;
				}
				.miningField > .battleField > .hold > .holdBorder > .holdBar {
					height: 100%;
					width: 0%;
					transition: width 1s;
					background-color: wheat;
				}
