.map {
	width: 80%;
	height: 80%;
	top: 10%;
	left: 10%;
	z-index: 5;
	position: absolute;
	background-image: url('/images/space.jpg');
}
	.closeMap, .stationButton, .field_342 {
		cursor: pointer;
		position: absolute;
	}
	.closeMap {			
		left: 88%;
		width: 12%;
		height: 7%;
		display: flex;
		font-size: 2vw;
		color: white;
		justify-content: center;
		background-image: url('/images/green_button.png');
	}
	 .stationButton {
		left: 40%;
		top: 30%;
		width: 40px;
		height: 40px;
		border-radius: 23px;
		background-image: url('/images/artefacts.png');
	}
	 .field_342 {
		left: 80%;
		top: 50%;
		width: 68px;
		height: 68px;	
		border-radius: 34px;
		background-image: url('/images/asteroid2.png');
	}