.station {
	width: 100%;
	height: 100%;
	display: flex;
	background-image: url('/images/ground.jpg');
}	

		.station > .hungarContainer {
		width: 80%;
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: center;
		align-items: center;
	}
		.stationName {
			display: flex;
			margin: 0;
			width: 40%;
			height: 40px;
			font-size: 1vmax;
			justify-content: center;
			align-items: center;
			color: white;
		}

		.station > .hungarContainer > .playersShip {
			width: 524px;
			height: 330px;
			background-image: url('/images/wasp.png');
			position: relative;
			margin: auto;
		}

			.station > .hungarContainer > .playersShip > .weaponPlace1, .weaponPlace2 {
				width: 50px;
				height: 50px;
				position: absolute;

			}
			.station > .hungarContainer > .playersShip > .weaponPlace1 {
				left: 255px;
				top: 50px;
			}

			.station > .hungarContainer > .playersShip > .weaponPlace2 {
				left: 120px;
				top: 185px;
			}
		.station > .hungarContainer > .upgrades {
				width: 20%;
				height: 67%;
				position: absolute;
				right: 0;
				top: 0;
				background-image: url('/images/artefacts.jpg');
				visibility: hidden;
		}
			.station > .hungarContainer > .upgrades > .inventoryContainer {
				width: 100%;
				height: 100%;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: space-between;
				align-items: flex-start;
				position: relative;
				z-index: 1;
			}
				.station > .hungarContainer > .upgrades > .inventoryContainer > .inventorySlot {
					height: 17%;
					width: 10%;
					min-width: 75px;
					cursor: pointer;
				}
				.station > .hungarContainer > .upgrades > .inventoryContainer > .inventorySlot > div {
					height: 100%;
					width: 100%;
				}
				.station > .hungarContainer > .upgrades > .inventoryContainer > .inventorySlot > .cruiser {
					background-image: url('/images/i/cruiser.png');
				}
				.station > .hungarContainer > .upgrades > .inventoryContainer > .inventorySlot > .carrier {
					background-image: url('/images/i/carrier.png');
				}
				.station > .hungarContainer > .upgrades > .inventoryContainer > .inventorySlot > .truck {
					background-image: url('/images/i/truck.png');
				}
		.station > .hungarContainer > .inventoryContainer {
			width: 100%;
			height: 33%;
			background-image: url('/images/artefacts.jpg');
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: flex-start;
			left: -100%;
			position: relative;
			z-index: 1;
			transition: left 1s;
		}	

			.inventoryContainer > .inventorySlot {
				height: 32%;
				width: 6%;
				min-width: 75px;
			}
				.inventoryContainer > .inventorySlot > div {
					height: 100%;
					width: 100%;
				}
			.inventoryContainer > .inventorySlot > .ore {
				background-image: url('/images/asteroid2.png');
			}
			.inventoryContainer > .inventorySlot > .metall {
				background-image: url('/images/materials/metall.png');
			}
			.inventoryContainer > .inventorySlot > .gas {
				background-image: url('/images/materials/gas.png');
			}
			.inventoryContainer > .inventorySlot > .diamonds {
				background-image: url('/images/materials/diamond.png');
			}
			